@import "../utils/variables";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: $asideColor;
  height: 8vh;
  width: 100vw;
  user-select: none;
}

.main {
  background-color: $backgroundColor;
  height: 84vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $asideColor;
  height: 8vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;

  textarea {
    width: 85vw;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid $inputBorderColor;
    border-radius: 15px;
    background: $backgroundColor;
    font-weight: 400;
    color: $textColor;
  }
}