$backgroundColor: #2d2d2d;
$asideColor: #363636;

$loaderColor: #8774e1;

$successButtonColor: #7b64e3;
$successButtonActiveColor: #5a34ff;
$successButtonBorderColor: #4827e3;

$inputBorderColor: #5436e6;
$inputBackground: #d7d7d7;

$ourMessageColor: #3e4248;
$anotherMessageColor: #555960;

$textColor: #dedede;
$textNameColor: #aa9cf2;